USE [master]
GO
/****** Object:  Database [BibliotecaApp08]    Script Date: 2/7/2019 11:49:55 AM ******/
CREATE DATABASE [BibliotecaApp08]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BibliotecaApp08', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\BibliotecaApp08.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BibliotecaApp08_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\BibliotecaApp08_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BibliotecaApp08].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BibliotecaApp08]
GO
USE [BibliotecaApp08]
GO
/****** Object:  Table [dbo].[Genero]    Script Date: 2/7/2019 11:49:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genero](
	[Id_Genero] [int] IDENTITY(1,1) NOT NULL,
	[NombreGenero] [varchar](150) NOT NULL,
 CONSTRAINT [PK_Genero] PRIMARY KEY CLUSTERED 
(
	[Id_Genero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Libro]    Script Date: 2/7/2019 11:49:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Libro](
	[Id_Libro] [int] IDENTITY(1,1) NOT NULL,
	[CodigoLibro] [varchar](10) NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
	[FechaPrestamo] [datetime] NOT NULL,
	[FechaEntrega] [date] NOT NULL,
	[Estado] [bit] NOT NULL,
	[Id_Genero] [int] NOT NULL,
 CONSTRAINT [PK_Libro] PRIMARY KEY CLUSTERED 
(
	[Id_Libro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Libro]  WITH CHECK ADD  CONSTRAINT [FK_Libro_Genero] FOREIGN KEY([Id_Genero])
REFERENCES [dbo].[Genero] ([Id_Genero])
GO
ALTER TABLE [dbo].[Libro] CHECK CONSTRAINT [FK_Libro_Genero]
GO
USE [master]
GO
